<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Управління доступом</title>
</head>
<body>
<h1>Призначення ролей</h1>
<form th:action="@{/users/update-role}" method="post">
    <input type="text" name="username" placeholder="Ім'я користувача">
    <select name="role">
        <option value="USER">USER</option>
        <option value="ADMIN">ADMIN</option>
    </select>
    <button type="submit">Призначити роль</button>
</form>

<h2>Список користувачів</h2>
<table border="1">
    <tr>
        <th>Користувач</th>
        <th>Роль</th>
    </tr>
    <tr th:each="entry : ${users}">
        <td th:text="${entry.key}"></td>
        <td th:text="${entry.value}"></td>
    </tr>
</table>
</body>
</html>
